body {
    padding: 0px;
    margin: 0px;
}
html {
    padding: 0px;
    margin: 0px;
}
.wrap-admin-page {
    display: flex;
    background-color: #f8f8f8;
}
/* Toolbar and Navigation */
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    height: 100vh;
    width: 230px; /* Adjust if necessary */
    z-index: 1000;
}

.logo-img {
    padding: 20px;
    background-size: cover;
    height: 65px;
}

.list-toolbar {
    list-style: none;
    padding: 0;
}

.item-admin {
    color: #555;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.item-admin:hover, .item-admin.active {
    color: #0B63F8; /* Active and hover color */
    background-color: #f0f0f0; /* Light background on hover */
}

/* Active class specifically for current page indication */
.active {
    font-weight: bold;
    color: #0B63F8; /* Highlight color for the active page */
}

.admin-product-description {
    max-height: 150px;
    overflow: hidden;
}
.container-wrap {
    margin-top: 50px;
    margin-left: 270px;
}
.btn-add-product {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
}
.btn-add-product:focus {
    outline: none;
}
.logo{
    display: flex;
    justify-content: center;
}
table {
    padding: 20px;
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
}
td {
    border: 1px solid #007bff;
    padding: 10px;
    text-align: left;
}
th {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
    color: #fff;
}
th {
    background-color: #007bff;
}
img {
    max-width: 100px;
    max-height: 100px;
}
h1 {
    text-align: center;
}
.tile-book-management {
    font-size: 26px;
}
.btn-delete {
    margin-top: 20px;
}
.hamburger-button {
    display: none;
}
.close-toolbar {
    display: none;
}
.title-payment{
    font-size: 26px;
}

@media only screen and (max-width: 767px) {
    /* Styles cho điện thoại */
    .tile-book-management {
        text-align: center;
    }
    .toolbar {
        display: block; /* Hiển thị toolbar khi bấm vào nút hamburger */
        position: fixed; /* Định vị cố định trên màn hình */
        top: 0;
        left: 0;
        width: 100%; /* Chiếm toàn bộ chiều rộng */
        height: 100%; /* Chiếm toàn bộ chiều cao */
        background-color: #ffffff; /* Nền trắng cho dễ đọc */
        z-index: 15; /* Đảm bảo nằm trên cùng */
        overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
        padding-top: 60px; /* Khoảng cách cho nút đóng */
    }

    .hamburger-button,
    .close-toolbar {
        display: block; /* Hiển thị các nút này */
        height: 60px;
    }
    .hamburger-button {
        width: 100%;
    }

    .close-toolbar {
        position: fixed; /* Định vị cố định */
        top: 0;
        right: 0;
        padding: 15px;
        z-index: 16; /* Đảm bảo nằm trên cùng của toolbar */
    }

    /* Chỉnh sửa đối với các thành phần khác để tối ưu hóa cho điện thoại */
    .container-wrap,
    .btn-add-product,
    table,
    .btn-delete,
    .admin-product-description {
        margin: 0;
        padding: 0;
        /* Đặt các thuộc tính khác nếu cần */
    }

    /* Nút bấm và liên kết phải đủ lớn để dễ dàng thao tác */
    .btn-add-product,
    .btn-delete {
        padding: 10px;
        font-size: 16px; /* Kích thước phông chữ lớn hơn */
    }

    /* Đảm bảo rằng ảnh không quá lớn và tràn ra ngoài màn hình */
    img {
        max-width: 100%;
        height: auto;
    }
    .btn-add-product {
        padding: 8px 16px; /* Tăng padding cho điện thoại nhỏ */
        font-size: 16px; /* Tăng kích thước font của nút */
    }
    .item-admin {
        font-size: 1.2rem; /* Tăng kích thước font */
        padding: 1rem; /* Tăng padding để tạo không gian rộng rãi hơn */
    }

    .list-toolbar li {
        margin-bottom: 1rem; /* Tăng khoảng cách giữa các mục */
    }

    .toolbar {
        padding: 1rem; /* Tăng padding của thanh công cụ */
    }

    .logo-img {
        width: auto; /* Điều chỉnh kích thước logo theo kích thước viewport */
        height: auto; /* Đảm bảo tỷ lệ của hình ảnh */
    }
    table {
        width: 100%; /* Đảm bảo bảng chiếm đủ không gian */
        table-layout: auto; /* Hoặc fixed, tùy vào nhu cầu cụ thể của bạn */
    }

    .title-and-button {
        padding: 0 15px; /* Thêm padding theo nhu cầu */
        margin-top: 80px;
    }

    .hamburger-button {
        background: none;
        border: none;
        font-size: 24px; /* Hoặc kích thước phù hợp */
        cursor: pointer;
        margin-right: 15px; /* Thêm margin phải để tạo khoảng cách */
        position: fixed;
    }
    .table-responsive {
        min-width: 0; /* Loại bỏ chiều rộng tối thiểu trên thiết bị di động */
    }

    th,
    td {
        padding: 5px; /* Giảm khoảng cách trên thiết bị di động */
    }
    td.admin-product-description {
        max-height: 150px; /* Đặt chiều cao tối đa cho ô mô tả */
        overflow-y: auto; /* Thêm thanh cuộn dọc nếu nội dung quá dài */
        word-wrap: break-word; /* Ngắt từ ngữ nếu chúng quá dài */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .tile-book-management {
        font-size: 22px; /* Giảm kích thước font cho phù hợp */
    }

    .btn-add-product {
        padding: 5px 10px; /* Giảm padding để nút nhỏ lại */
        font-size: 14px; /* Giảm kích thước font của nút */
        margin-right: 10px; /* Thêm khoảng cách bên phải */
    }

    /* Bao bọc tile và nút thêm sản phẩm vào một div để áp dụng flexbox */
    .title-and-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
