/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 25, 2023, 9:59:28 AM
    Author     : Asus
*/

body {
    background: linear-gradient(64deg, #69B7FF -26.63%, #FFF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}



.form-group .form-control {
    width: 397px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #353535;
    background: #FFF;
}

.form-group .name
{
    color: #202020;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Style for the container div */
.password-container {
    position: relative;
}

/* Position the icon absolutely */
.eye-icon {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-80%);
    cursor: pointer;
}

/* Add styles for the icon itself */
ion-icon {
    font-size: 20px; /* Adjust the size as needed */
    color: #353535; /* Icon color */
}
wrap-form-login{
    padding-left: 36px;
}
.form-control .name {
    color: #202020;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-check input
{
    transform: translateY(16%);
    padding-top: 22px;
    width: 22px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #959595;
    background: #FFF;
}



.form-check .form-check-label
{
    color: #202020;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-check a
{
    text-decoration: underline;
    color: #3F46FF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button .btn
{
    border-radius: 10px;
    background: #3F46FF;
    color: #fff;
    padding: 0.375rem 10.85rem;
    border: none;
    cursor: pointer;
}

.name-create a
{
    text-decoration: underline;
    color: #3F46FF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.error-message {
    color: red;
    text-align: center;
}
.wrap-password{
    width: fit-content;
}
.forgot-password-icon{
    margin-right: 5px;
    font-size: 16px;
}
.dont-have-password-link{
    white-space: nowrap;
}
.dont-have-password-icon{
     margin-right: 5px;
    font-size: 16px;
    
}

.create-account-link{
    display: flex;
    gap: 100px;
}
.wrap-form-login{
    padding-left: 0 !important;
}
@media only screen and (max-width: 1215px) {
    .image-background{
        display: none;
    }
    .forgot-password-link{
        gap: 5px;
        white-space: nowrap;
    }
    .form-login{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-word{
        text-align: center;
    }
}
@media only screen and (max-width: 460px) {
    
    .form-group .form-control {
        width: 300px;
    }
    .sign-in-btn{
         width: 300px;
    }
    .create-account-link{
        flex-direction: column;
        gap: 20px;
    }
    
    
}






