/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Table styles */
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table thead {
    background-color: #007bff;
    color: #ffffff;
}

.table thead th {
    padding: 10px;
    border: 1px solid #dee2e6;
}

.table tbody td {
    padding: 10px;
    border: 1px solid #dee2e6;
    background-color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Input styles */
input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}
.toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    margin-right: 40px;
    background-color: #fff;
    height: 100vh;
    min-width: 230px;
}
.logo-img {
    padding: 20px;
    background-size: cover;
    height: 65px;
}
.item-admin {
    color: #555;
    text-decoration: none;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.active {
    font-size: 16px;
    color: #0b63f8;
}
.list-toolbar {
    list-style: none;
    margin-left: 20px;
}
.close-toolbar{
    display: none;
}
.btn:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    .btn {
        padding: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 24px;
    }

    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* Add any additional styles you want below */
